#content {
    @include grid-row();

    .sub-heading {
        @include grid-column(12);
        text-align: center;

        h2 {
        color: $primary-txt-color; 
        font-size: 2em;
        margin-bottom: 10px;
        padding-top: 50px;
        }

        h3 {
            color: $secondary-txt-color;
            font-size: 1.35em;
            margin-top: 10px;
            padding-bottom: 50px;    
        }

    }

    .merchandise {
        @include grid-row(); 
            background-color: $primary-bg-color;

            .items {
                @include grid-column(6);
                border-top: 1px solid lightgrey;

                @include breakpoint(800px) {
                    @include grid-column(3);
                }
            }
    }
}

