#hero {
    @include grid-row;

    .blackice {
        @include grid-column(12);
        padding: 0px !important;
    }

    .lunacy {
        @include grid-column(8);
        padding: 0px !important;
    }

    .deboss {
        @include grid-column(4);
        padding: 0px !important;
    }
  
}
