html {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

li {
    list-style-type: none;
}

$primary-bg-color: white;
$highlight-txt-color: white;
$primary-txt-color: #302e2a;
$secondary-txt-color: #AEA288;
$tertiary-txt-color: #9C3e14;
